services:
  - type: web
    name: tito-sample-api
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    region: oregon
    envVars:
      - key: PORT
        value: 8081
      - key: JAVA_OPTS
        value: "-Xmx512m"
